<div class="footer-content">
  <div class="footer-section">
    <h4>Notaganda</h4>
    <p>Your central destination for all my video content across multiple platforms.</p>
    <div class="footer-social">
      <a href="https://youtube.com/yourusername" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://twitter.com/yourusername" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitch.tv/yourusername" target="_blank"><i class="fab fa-twitch"></i></a>
      <a href="https://tiktok.com/@yourusername" target="_blank"><i class="fab fa-tiktok"></i></a>
    </div>
  </div>
  
  <div class="footer-section">
    <h4>Quick Links</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/videos/">Videos</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>
  
  <div class="footer-section">
    <h4>Platforms</h4>
    <ul>
      <li><a href="https://youtube.com/yourusername" target="_blank">YouTube</a></li>
      <li><a href="https://twitch.tv/yourusername" target="_blank">Twitch</a></li>
      <li><a href="https://tiktok.com/@yourusername" target="_blank">TikTok</a></li>
      <li><a href="https://twitter.com/yourusername" target="_blank">Twitter</a></li>
      <li><a href="https://instagram.com/yourusername" target="_blank">Instagram</a></li>
    </ul>
  </div>
  
  <div class="footer-section">
    <h4>Support</h4>
    <ul>
      <li><a href="/donate/">Donation Options</a></li>
      <li><a href="https://www.patreon.com/yourusername" target="_blank">Patreon</a></li>
      <li><a href="https://www.buymeacoffee.com/yourusername" target="_blank">Buy Me a Coffee</a></li>
    </ul>
  </div>
</div>

<div class="footer-bottom">
  <p>&copy; {{ site.time | date: '%Y' }} Notaganda. All rights reserved.</p>
</div> 